<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!-- Below are the custom sittings-->
    <add key="siteName" value="APPASSIONATA"/>
    <add key="siteStore" value="Music Store"/>
  </appSettings>
  <connectionStrings>
    <add name="localConnection" connectionString="Data Source=IN-CSCI-ASPNET.ads.iu.edu\SQL2017;Initial Catalog=linglu;User ID=linglu2;Password=l2976ach"/>
  </connectionStrings>
  <location allowOverride="false">
    <system.web>
      <customErrors mode="Off"/>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <compilation>
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="n431demo@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" userName="n431demo@gmail.com" password="demon431" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>