<TreeState CompareLevel="FE Schema Report" DBMS="172" DBMSVersion="13" TemplateFileLocation="SqlServer2016.fet"><Node TypeId="8"/><Node TypeId="28"/><Node TypeId="41"/><Node TypeId="42"/><Node TypeId="44"/><Node TypeId="49"/><Node TypeId="58"/><Node TypeId="60"/><Node TypeId="61"/><Node TypeId="68"/><Node TypeId="69"/><Node TypeId="70"/><Node TypeId="71"/><Node TypeId="77"/><Node TypeId="79"/><Node TypeId="80"/><Node TypeId="94"/><Node TypeId="95"/><Node TypeId="96"/><Node TypeId="99"/><Node TypeId="103"/><Node TypeId="108"/><Node TypeId="168"/><Node TypeId="185"/><Node TypeId="186"/><Node TypeId="201"/><Node TypeId="204"/><Node TypeId="295"/><Node TypeId="298"/><Node TypeId="299"/><Node TypeId="428"/><Node TypeId="548"/><Node TypeId="549"/></TreeState>
