<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  
  <appSettings>
    <!-- Below are the custom sittings-->
    <add key="siteName" value="APPASSIONATA"/>
    <add key="siteStore" value="Music Store"/>
  </appSettings>
  <connectionStrings>
    <add name="localConnection" connectionString="Data Source=IN-CSCI-ASPNET.ads.iu.edu\SQL2017;Initial Catalog=linglu;User ID=linglu2;Password=l2976ach"/>
  </connectionStrings>
  <location allowOverride="false">
    <system.web>
      <customErrors mode="Off"/>
    </system.web>
  </location>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
   
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!-- try changing cookieless values to UseUri, UseCookies, UseDeviceProfile -->
    <sessionState mode="InProc" 
                  cookieless="UseUri" 
                  timeout="120" 
                  regenerateExpiredSessionId="true"/>
   
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
   
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="System Admin" deliveryMethod="Network">
        <network host="smtp.gmail.com" userName="n431demo@gmail.com" password="demon431" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  
 
</configuration>